@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.shadow-custom {
	box-shadow: 2px 4px 8px 8px rgba(0, 0, 0, 0.2);
  }

  .button {
    @apply bg-sky-800 border-none rounded-md  py-2 px-4 text-white w-full transition duration-150 ease-in-out;
    }
    
    .button:hover {
    @apply bg-sky-600;
    }

    .bookCard {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px; /* Adjust margin between cards */
    }
    
    .bookCover {
      margin-bottom: 10px; /* Adjust spacing between cover and details */
    }
    
    .bookDetails {
      text-align: center;
    }
    
    .kannada-text-container {
      text-align: justify;
      font-family: "Noto Sans Kannada", sans-serif; /* Specify Kannada font */
      font-size: 16px; /* Adjust font size as needed */
      line-height: 1.5; /* Adjust line height as needed */
      width: 60%;
      height: 50%;
    }